<h1>会員一覧</h1>

<table>
  <thead>
    <tr>
      <th>漢字フルネーム</th>
      <th>カナフルネーム</th>
      <th>Email</th>
      <th>退会済み</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name_kanji %></td>
        <td><%= user.full_name_kana %></td>
        <td><%= user.email %></td>
        <td><%= user.inactive? ? "はい" : "いいえ" %></td>
      </tr>
    <% end %>
  </tbody>
</table>