<h1>会員一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">漢字フルネーム</th>
      <th scope="col">カナフルネーム</th>
      <th scope="col">Email</th>
      <th scope="col">退会済み</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, admin_user_photos_path(user) %></td>
        <td><%= user.name_kana %></td>
        <td><%= user.email %></td>
        <td><%= user.is_deleted ? "はい" : "いいえ" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

