<h2>会員情報詳細</h2>

<p><strong>フルネーム(漢字):</strong> <%= @user.name %></p>
<p><strong>フルネーム(カナ):</strong> <%= @user.name_kana %></p>
<p><strong>Eメール:</strong> <%= @user.email %></p>

<%= link_to "編集する", edit_user_registration_path, class: 'btn btn-primary' %>